<footer>
    <div class="left-footer">
        <p>&copy; 2024 Your Name. All rights reserved.</p>
    </div>
    <div class="right-footer">
        <a href="#">Privacy Policy</a> | <a href="#">Terms of Service</a>
    </div>
  </footer>