<section class="hero-section py-5">
  <div class="container h-100">
      <div class="row h-100">
          <!-- Hero Content -->
          <div class="col-lg-9 d-flex flex-column justify-content-center text-light animate__animated animate__fadeIn" style="background: url('/images/stethescope500.png') no-repeat;">
              <h1 class="display-4 fw-bold">Welcome to HealthDocX</h1>
              <p class="lead">Your trusted platform for managing unified health records efficiently and securely.</p>
              <div class="d-flex mt-4">
                  <a href="/auth/sign_up"  class="btn btn-primary btn-lg me-3 animate__animated animate__bounceIn">Get Started</a>
                  <a href="#features" class="btn btn-outline-light btn-lg animate__animated animate__bounceIn">Learn More</a>
              </div>
          </div>
          <!-- Features Section -->
          <div class="col-lg-3 d-flex flex-column justify-content-around text-light">
              <div class="feature-item animate__animated animate__fadeInRight">
                  <img src="../images/icon/security.png" alt="Security Icon" class="mb-3" style="width: 50px;">
                  <h5 class="fw-bold" style="color: #68071b;">Secure</h5>
                  <p>We prioritize your privacy and data security, keeping your health records safe.</p>
              </div>
              <div class="feature-item animate__animated animate__fadeInRight" style="animation-delay: 0.2s;">
                  <img src="../images/icon/easy.png" alt="Ease of Use Icon" class="mb-3" style="width: 50px;">
                  <h5 class="fw-bold" style="color: #68071b;">User-Friendly</h5>
                  <p>Our intuitive interface makes managing health records a breeze.</p>
              </div>
              <div class="feature-item animate__animated animate__fadeInRight" style="animation-delay: 0.4s;">
                  <img src="../images/icon/accessible.png" alt="Access Icon" class="mb-3" style="width: 50px;">
                  <h5 class="fw-bold" style="color: #68071b;">Accessible</h5>
                  <p>Access your records anytime, anywhere, from any device.</p>
              </div>
          </div>
      </div>
  </div>
</section>