
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-4" >
        <h1>Lorem Ipsum</h1>
        <p class="lead" >Dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.</p>
        <div>
          <a href="#" class="btn btn-warning">Learn more</a>
          <a href="#" class="btn btn-link" style="color: white;">More Details</a>
        </div>
      </div>
      <div class="col-md-8">
        <div class="illustration">
          <img src="../images/doctor_main.png" alt="Doctor illustration" class="img-fluid">
        </div>
      </div>
    </div>
  </div>
  