
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-4" >
        <h1>Smart Health Records at Your Fingertips</h1>
        <p class="lead" >Simplify your healthcare journey with AI-powered document management. We help you organize, summarize, and understand your medical reports in seconds. Perfect for patients and families..</p>
        <div>
          <a href="#" class="btn btn-warning">Learn more</a>
          <a href="#" class="btn btn-link" style="color: white;">More Details</a>
        </div>
      </div>
      <div class="col-md-8">
        <div class="illustration">
          <img src="../images/doctor_main.png" alt="Doctor illustration" class="img-fluid">
        </div>
      </div>
    </div>
  </div> 
  
